<div class="overlay">
  <div class="popup-wrapper">
    <div class="popup-header">Popup Header</div>
    <div class="popup-content">
      <div *ngIf="!details">
        <div>Message:</div>
        <div>
          <textarea class="popup-input" [(ngModel)]="message" rows="10" cols="35" [disabled]="sending"></textarea>
        </div>
      </div>
      <div *ngIf="details"> {{ details }}</div>
    </div>
    <div *ngIf="!sending" class="popup-footer">
      <button (click)="send()">Send</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
