<h1>This is App Component</h1>
 <div>
    <nav> 
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
        <a routerLink="/artist-center" routerLinkActive="active">Artists</a>
        <a routerLink="/songs" routerLinkActive="active">Songs</a>
        <a routerLink="/error" routerLinkActive="active">Error</a>
        <a routerLink="/blahblahblah" routerLinkActive="active">Blah Blah Blah</a>
     </nav>
</div> 
<router-outlet></router-outlet>
<!-- Routed views go here -->

<!--Routed views for Popup-->
<router-outlet name="popup"></router-outlet>